<section id="content">
    <div class="block-1 box-1" >
        <div style="width:100%; background-color:white;margin-bottom:20px;border-radius:20px;">
            <h1 style="padding:10px; ">Forgot Password  Here!!</h1></div>
      <div class="test">
    <form >
        <div class="row">
        <div class="col-25">
          <label for="country">Email</label>
        </div>
        <div class="col-75">
            <input type="text" id="email" name="email" placeholder="Enter Email.." [(ngModel)]="loginUserData.email" #email="ngModel">
          </div>
      </div>
     
    
      <div class="row"> <div class="col-25"></div>       
        <input type="submit" value="Submit" name="submit">    
     </div>
          
    </form>
  </div> 
</div> 
    </section>
